:root {
  html, body {
    margin: 0 !important;
    height: 100%;
  }


  --primary: #2193b0;
  --primary-rgb: 33, 147, 176;
  --primary-dark: #176b87;
  --gradient-light: #6dd5ed;
  --error: #d32f2f;
  --card-bg: #fff;
  --text-main: #333;

  --main-min-width: 100px;
}
